.card-body {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
}

.char_img {
    display: block;
    position: relative;
    margin: 0 auto;
    max-height:100%;
    max-width:100%;
    width:auto;
    height:auto;
    /* transform: translateY(-50%);
    top:50% */


}

.card {
    margin:20px auto;
    max-width: 400px;
    min-height: 500px;

}

.card-footer {
    display: flex;
    justify-content: space-between ;
}

.card-link {
    padding: 10px 20px;
}

.card-header {
    text-align: center;
}

.head{
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px;
}

.aboutLink{
    cursor: pointer;
}

.comics-title {
    text-align: center;
    padding: 10px;
}